{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static  'css/formularios/hojavidaForms.css'%}">
    <title>Llenar Hoja de Vida</title>
</head>
<body>
    <h2>Llenar Hoja de Vida</h2>
    <a class="atras" href="{% url 'hoja_vida' %}"><button>Atrás</button></a>
    <form method="post" enctype="multipart/form-data" action="{% url 'llenarHojaVida' %}">
        {% csrf_token %}
        
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required><br>

        <label for="documento">Documento:</label>
        <input type="text" name="documento" required><br>

        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" name="fecha_nacimiento" required><br>

        <label for="direccion">Dirección:</label>
        <input type="text" name="direccion" required><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br>

        <label for="educacion">Educacion:</label>
        <textarea name="educacion" required></textarea><br>

        <label for="experiencia">Experiencia:</label>
        <textarea name="experiencia" required></textarea><br>

        <label for="profesion">Profesión:</label>
        <select name="profesion" required>
            <option value="Ingeniero de Software">Ingeniero de Software</option>
            <option value="Médico">Médico</option>
            <option value="Abogado">Abogado</option>
            <option value="Arquitecto">Arquitecto</option>
            <option value="Contador Público">Contador Público</option>
            <option value="Enfermero">Enfermero</option>
            <option value="Psicólogo">Psicólogo</option>
            <option value="Profesor">Profesor</option>
            <option value="Ingeniero Civil">Ingeniero Civil</option>
            <option value="Diseñador Gráfico">Diseñador Gráfico</option>
            <option value="Administrador de Empresas">Administrador de Empresas</option>
            <option value="Ingeniero Industrial">Ingeniero Industrial</option>
            <option value="Periodista">Periodista</option>
            <option value="Economista">Economista</option>
            <option value="Biólogo">Biólogo</option>
            <option value="Químico">Químico</option>
            <option value="Geólogo">Geólogo</option>
            <option value="Farmacéutico">Farmacéutico</option>
            <option value="Odontólogo">Odontólogo</option>
            <option value="Veterinario">Veterinario</option>
            <option value="Ingeniero Eléctrico">Ingeniero Eléctrico</option>
            <option value="Ingeniero Mecánico">Ingeniero Mecánico</option>
            <option value="Ingeniero de Sistemas">Ingeniero de Sistemas</option>
            <option value="Ingeniero Agrónomo">Ingeniero Agrónomo</option>
            <option value="Nutricionista">Nutricionista</option>
            <option value="Fisioterapeuta">Fisioterapeuta</option>
            <option value="Psiquiatra">Psiquiatra</option>
            <option value="Cirujano">Cirujano</option>
            <option value="Agrónomo">Agrónomo</option>
            <option value="Antropólogo">Antropólogo</option>
            <option value="Biocientífico">Biocientífico</option>
            <option value="Científico de Datos">Científico de Datos</option>
            <option value="Dentista">Dentista</option>
            <option value="Embajador">Embajador</option>
            <option value="Enólogo">Enólogo</option>
            <option value="Escritor">Escritor</option>
            <option value="Fotógrafo">Fotógrafo</option>
            <option value="Gestor Cultural">Gestor Cultural</option>
            <option value="Historiador">Historiador</option>
            <option value="Ingeniero de Telecomunicaciones">Ingeniero de Telecomunicaciones</option>
            <option value="Lingüista">Lingüista</option>
            <option value="Matemático">Matemático</option>
            <option value="Meteorólogo">Meteorólogo</option>
            <option value="Nanotecnólogo">Nanotecnólogo</option>
            <option value="Oceanógrafo">Oceanógrafo</option>
            <option value="Paleontólogo">Paleontólogo</option>
            <option value="Piloto">Piloto</option>
            <option value="Político">Político</option>
            <option value="Sociólogo">Sociólogo</option>
            <option value="Traductor">Traductor</option>
            <option value="Artes">Artes</option>
            <option value="Ciencias">Ciencias</option>
            <option value="Tecnología">Tecnología</option>
            <option value="Ingeniería">Ingeniería</option>
            <option value="Medicina">Medicina</option>
            <option value="Derecho">Derecho</option>
            <option value="Educación">Educación</option>
            <option value="Negocios">Negocios</option>
            <option value="Comunicación">Comunicación</option>
            <option value="Diseño">Diseño</option>
            <option value="Agronomía">Agronomía</option>
            <option value="Ambiente">Ambiente</option>
            <option value="Construcción">Construcción</option>
            <option value="Culinaria">Culinaria</option>
            <option value="Finanzas">Finanzas</option>
            <option value="Recursos Humanos">Recursos Humanos</option>
            <option value="Periodismo">Periodismo</option>
            <option value="Salud Mental">Salud Mental</option>
            <option value="Investigación">Investigación</option>
            <option value="Servicios Sociales">Servicios Sociales</option>
            <option value="Transporte">Transporte</option>
            <option value="Turismo">Turismo</option>
            <option value="Veterinaria">Veterinaria</option>
        </select><br>

        <label for="curriculum">Currículum (PDF):</label>
        <input type="file" name="curriculum" accept=".pdf" required><br>

        <button type="submit">Guardar Hoja de Vida</button>
    </form>
</body>
</html>
