{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="{%static 'css\candidato\encabezado\encabezadoA.css'%}" rel="stylesheet"> -->
    <link href="{% static 'css/login/select.css' %}" rel="stylesheet">
    <link href="{% static 'css/inicio/inicioP/inicio.css' %}" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <title>Página Principal - CIDE</title>
</head>
<body>
    <header>
        <img src="{%static 'img/logo.png'%}" alt="Logo CIDE">
        <a class="but"href="{%url 'home'%}"><button>Inicio</button></a>
        <a class="butA" href="{%url 'select'%}"><button>Iniciar Sesión</button></a>
        <a href="{%url 'navegador'%}"><button>Busqueda</button></a>
        <a href="{%url 'contacta'%}"><button>Contacto</button></a>
    </header>
    <div style="text-align: center;background-color: #238f4e; color: aliceblue;  font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <h3>Estas en Iniciar sesion</h3>
    </div>
    <nav>
        <ul>
            <li><a class="l" href="{%url 'home'%}">Publicaciones</a></li>
            <li><a href="{%url 'nosotros'%}">Nosotros</a></li>
            <li><a href="https://www.sena.edu.co/es-co/Paginas/default.aspx">SENA</a></li>
        </ul>
    </nav>
    <div class="contenedor">
        <div class="opcion">
            <a href="{% url 'usuario' %}">
                <img src="{% static 'img/2.png' %}" alt="Usuario Normal">
            </a>
        </div>
        <div class="opcion">
            <a href="{% url 'empresa' %}">
                <img src="{% static 'img/1.png' %}" alt="Empresa">
            </a>
        </div>
    </div>   
</body>
</html>
