.postulaciones {
    overflow-y: scroll;
    grid-row: 2 / 8;
    grid-column: 2 / 8;
    width: 100%;
    max-height: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    margin: 5px;
    padding: 10px;
    border-radius: 1rem;
    background-color: #eeeeee;
    border: 1px solid #cccccc00;
    text-align: center;
}

 
@media screen and (max-width: 6200px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 / 12;
        
    }
}

@media screen and (max-width: 5200px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 / 21;
        
    }
}
@media screen and (max-width: 4100px) {
    .post {
        width: calc(100vmax + 100%);
    }
        .postulaciones{
        grid-column: 2 / 15;
        
    }
}
@media screen and (max-width:2700px) {
    .post {
        width: calc(100vmax + 100%);
    }
        .postulaciones{
        grid-column: 2 / 11;
        
    }
}


@media screen and (max-width: 2000px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 /9;
    }
}

@media screen and (max-width: 1700px) {
    .post {
        width: calc(100vmax + 100%);
    }
        .postulaciones{
        grid-column: 2 / 8;
        
    }
}

@media screen and (max-width: 1500px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 / 7;
        
    }

}
@media screen and (max-width: 1200px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 / 5;
        
    }
}

@media screen and (max-width:900px) {
    .post {
        width: calc(100vmax + 100%);
    }
    .postulaciones{
        grid-column: 2 / 3;
        
    }
} */

.filtro{
    margin-left: 100%;
    display: grid;
}
.tituloF{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
}
.filtroB{
    display: grid;
    place-items: center;
    margin-bottom: 5px;
    font-size: 13px;
}
bdo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
element.style {
    width: 100%;
}
select {
    border: 0.2rem solid #168a45;
    background-color: #32985b;
}
select, input[type="file"] {
    height: 26px;
    line-height: 26px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 60px;
    padding: 4px 6px;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
    color: #747474;
    border-radius: 4px;

}
input, button, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label, input, button, select, textarea {
    color: white;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
button, input, select, textarea {
    margin: 0;
    vertical-align: middle;
    border: 0.1rem solid #ffffff;
    border-radius: 0.2rem;
    background-color: #32985b;
}
select{
    font-size: 13px;
}
