.encabezado {
    grid-column: 2 / 29;
    position: relative;
    width: 100%;
    height: 100%;
    background: #168A45;
}
.flex4 {
    display: flex;
    position: relative;
    overflow: hidden;
}
.navegacion {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.but {
    border-radius: 13px;
    border: #168A45;
    background: rgb(50, 152, 91);
    width: 10vw;
    height: 50px;
    margin: 30px 40px; 
}

.but {
    align-items: center;
    appearance: none;
    background-color: rgba(22, 138, 69,01.5px);
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 13px;
}

.but:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.but:hover {
box-shadow: rgba(35, 37, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.but:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}