
h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin-right: 23px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #32985b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #168a45;
}

.mensaje-exito,
.mensaje-error {
    display: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
}

.mensaje-exito {
    background-color: #4CAF50;
    color: #fff;
}

.mensaje-error {
    background-color: #f44336;
    color: #fff;
}
.contacta {
    height: 100vh;
    grid-column: 2 / 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.contacta {
    margin-right: 10%;
}

.butA {
    border-radius: 13px;
    border: #168A45;
    background: rgb(50, 152, 91);
    width: 10vw;
    height: 50px;
    margin: 30px 40px; 
}

.butA {
    align-items: center;
    appearance: none;
    background-color: rgba(22, 138, 69,01.5px);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(35, 37, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 13px;
}

.butA:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.butA:hover {
box-shadow: rgba(35, 37, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-2px);
}

.butA:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(2px);
}